<html>
  <head>
    <title>Abstract Science Editor</title>
    <script type="text/javascript" src="js/jquery-1.4.2.js"></script>



  </head>
  <body>
    <h3>Recordings</h3>
    <% @recordings.each do |r| %>
      <p><a href="<%= "/edit/#{r.id}" %>"><%= r.name %></a></p>
    <% end %>
  </body>
</html>